@import url('https://fonts.googleapis.com/css?family=Dokdo|Lora:400,700|Montserrat:400,500,600,700');

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
    background-color: black;
    letter-spacing: 2px;
    position: relative;
    margin: 0;
}

/*------------------------------------------------------------- Backgrounds */

.bg-img {
    background-image: url("../assets/images/blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.video-bg {
    height: 50vh;
}

/*------------------------------------------------------------- Colors */

nav {
    background-color: #272727;
}

nav div ul li .active {
    background-color: #2098D1;
}

.active a {
    background-color: #2098D1;
}

/*------------------------------------------------------------- Page section sizes */

.section-size {
    height: 95vh;
}

.contact-section {
    min-height: 97.6vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
}

/*------------------------------------------------------------- Special margins */

.carousel-size img {
    max-width: 50%;
    max-height: 35%;
    margin: 75px auto;
}

:target{
  padding-top: 70px;
  /*margin-top: -70px;*/
}

.music-top-margins {
    margin-top: 100px;
}

#music1Player,
#music2Player,
#music3Player,
#music4Player {
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer {
    position: absolute;
    bottom: 0;
}

.photos-margin {
    margin-top: 80px;
}

.button-margin {
    margin-bottom: 20px;
    margin-top: 20px;
}

.band-name {
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 25px;
}

.member-photo {
    margin: 70px 0 35px;
}

h2 {
    font-size: 60px;
}

.contact-heading {
    margin-top: 60px;
    margin-bottom: 25px;
}

#navbarMenu ul li a {
    text-align: right;
    text-decoration: none;
}

.article-paragraph {
    margin-top: 15px;
    font-size: .9rem;
}

.monkees-brand {
    text-decoration: none;
    color: #fafafa;
    font-family: 'Dokdo', cursive;
    text-transform: uppercase;
}

.wiki-links {
    font-size: 10px;
    color: #2098D1;
}

.copyright {
    font-size: 9px;
    color: #fafafa;
}




@media (max-width: 768px) {
    .fixed-top {
        position: absolute;
    }
    :target {
        padding-top: 0;
        margin-top: 0;
    }
    .member-photo {
        justify-content: center;
        text-align: center;
    }
    .music-top-margins {
        margin-top: 55px;
    }
    .mobile-video-margin {
        margin-top: -450px;
    }
}