@import url('https://fonts.googleapis.com/css?family=Dokdo|Lora:400,700|Montserrat:400,500,600,700');

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: red;
}

/*------------------------------------------------------------- Colors */

nav {
    background-color: #272727;
}

section {
    max-height: 100vh;
    background-image: url(../assets/images/monkees.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.monkees-brand {
    text-decoration: none;
    color: #fafafa;
    font-family: 'Dokdo', cursive;
    font-size: 22px;
    text-transform: uppercase;
}

#navbarMenu ul li a {
    text-align: right;
}

.band-name {
    margin: 0 auto;
    font-size: 80px;
    min-height: 95vh;
    padding-top: 30vh;
}

.carousel-size img {
    width: 50%;
    height: 35%;
    margin: auto;
}


@media (max-width: 768px) {
    .member-photo {
        justify-content: center;
        text-align: center;
    }
}